sota/Data

sota/Point-Net++/Pointnet_Pointnet2_pytorch/data

sota/Point-Transformers/__pycache__
sota/Point-Transformers/results
sota/Point-Transformers/modelnet40_normal_resampled
sota/Point-Transformers/log

sota/ExquisiteNetV2/cifar10/
sota/ExquisiteNetV2/models/__pycache__
sota/ExquisiteNetV2/results
sota/ExquisiteNetV2/weight
sota/ExquisiteNetV2/cifar-10-batches-py/

src/__pycache__

*.out